<div id="map1" style="width: 100%; height: 500px"></div>

<script>
var mymap = L.map('map1').setView([15.8760489,-89.9221243], 7);

var owsrootUrl = 'https://geoserverdouglascl.azurewebsites.net/geoserver/ows';

var defaultParameters = {
    service : 'WFS',
    version : '1.0.0',
    request : 'GetFeature',
    typeName : 'PortafolioGIS:Poblacion_por_municipio',
    outputFormat : 'text/javascript',
    format_options : 'callback:getJson',
    SrsName : 'EPSG:4326'
};

var parameters = L.Util.extend(defaultParameters);
var URL = owsrootUrl + L.Util.getParamString(parameters);

function getColor(d) {
    return d > 2205  ? '#fdfa18' :
           d > 1425  ? '#8fd744' :
           d > 847   ? '#35b779' :
           d > 586   ? '#20908d' :
           d > 338   ? '#31688e' :
           d > 166   ? '#443A83' :
           d > 0     ? '#440154' :
                      '#FFFFFF';
}

function style(feature) {
    return {
        fillColor: getColor(feature.properties.poblacion/feature.properties.shape_area*1000000),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.8
    };
}

function onEachFeature(feature, layer) {
                popupOptions = {maxWidth: 300};
                layer.bindPopup("Municipio: "+feature.properties.municipio+"</b><br> Población: "+feature.properties.poblacion+" Hab.",popupOptions);
            }

var WFSLayer = null;
var ajax = $.ajax({
    url : URL,
    dataType : 'jsonp',
    jsonpCallback : 'getJson',
    success : function (response) {
        WFSLayer = L.geoJson(response, {
	    maxZoom: 10,
	    attribution: '| Douglas Castillo, '+'<a href="https://www.censopoblacion.gt/">INE Guatemala</a> ',
            style: style,
            onEachFeature: onEachFeature
        }).addTo(mymap);
    }
});

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {crs: L.CRS.EPSG3857,
		maxZoom: 18,
		attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 166, 338, 586, 847,1425,2205],
        labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '–' + grades[i + 1] + ' Hab/km²<br>' : '+');
    }

    return div;
};

legend.addTo(mymap);
L.control.scale().addTo(mymap);

</script>